#result-count {
  margin-top: 10px;
}

.btn-cu {
  display:inline !important;
  margin: 5px;
}

.form-group {
  margin: 0 1%;
}

h2 {
  margin-top: 10px;
}

h3 {
  display: inline;
}

hr {
  margin: 10px 0px;
}

label {
  margin: 0px 10px;
}

table {
  margin-top: 10px;
}
